


  .work-title {
    @apply pt-[60px] md:pt-[70px] flex items-center justify-center;
  }

  .work-cards {
    @apply flex gap-4 max-w-[968px] justify-center mx-auto pt-[94px];
  }

  .item {
    @apply flex h-[350px] w-[350px] bg-cover bg-no-repeat rounded-[20px] border-0 shadow-md transition-transform duration-300 ease-in-out;
  }

  .item:hover {
    @apply scale-105;
  }

  .item1 {
    background-image: url('../img/hungry eyes mockup.png');
  }

  .item2 {
    background-image: url('../img/osm mockup.png');
    background-position: center;
  }

  .item3 {
    background-image: url('../img/Skjermbilde 2024-06-07 kl. 20.33.22.png');
    background-position: center;
    background-size: fill;
  }


