body{
  background: radial-gradient(198.55% 103.31% at 80.73% 27.31%, #D5F5F2 0%, #DAE2CB 29%, #FFE3F7 60%);
  transition: opacity 0.5s ease-in-out;
}

.imoda{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    margin: 10px;
}

.imoda h1, p{
  padding: 5px;
  max-width: 300px;
}

.imoda button{
  margin: 20px 0px 0px 10px;
}

@media (min-width: 1200px) {
  
  .imoda{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    margin: 120px;
    height: 600px;
}
  
  .imoda h1, p{
   max-width: 700px;
  }
  


}