.imoda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
}

.imoda p{
  padding: 0px;
  margin: 20px;
}

.imoda button{
  margin: 20px 0px 0px 10px;
}

@media (min-width: 537px) {
  
  .imoda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}
  
  .imoda h1, p{
    max-width: 600px;
  }
  


}