body{
  background-color: #EEF6F0;
}

#rain{
  background-color: #EAE8E8;
}

#osm{
  background-color: #F4DBDA;
}



.page-info{
 display: flex;
 flex-wrap: wrap;
 gap: 1rem;
 width: 100%;
 height: auto;
}

.page-info img{
  max-width: 100%;
  height: auto;
}

.page-info-text{
  max-width: 600px;
  padding: 20px;
}

.links{
  display: flex;
  flex-direction: column;
  max-width: 150px;
  margin-top: 20px;
}


span{
  text-decoration: underline;
}

@media (min-width: 800px){
  .page-info img{
    max-width: 800px;
    height: auto;
  }

}