body{
  background: radial-gradient(198.55% 103.31% at 80.73% 27.31%, #FFE3F7 4.82%, #DAE2CB 45.32%, #D5F5F2 68.27%);
}

.work-cards{
  display: flex;
  gap: 1rem;
  padding-top: 70px;
  margin: 20px;
}

.item1, .item2, .item3{
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  height: 310px;
  width: 600px;
  border-radius: 60px;
border: 1px solid #000; 
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2)
}



.item1{
  background-image: url(/img/hungry\ eyes\ mockup.png);
}

.item2{
  
  background-image: url(/img/hungry\ eyes\ mockup.png);
}

.item3{
  background-image: url(/img/hungry\ eyes\ mockup.png);
}


@media (min-width: 800px) {

  .work-cards{
    display: flex;
    gap: 1rem;
    padding-top: 40px;
    margin: 120px;
  }


  .item1, .item2, .item3{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    height: 432px;
    width: 600px;
    border-radius: 60px;
  border: 1px solid #000; 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2)
  }
}